/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5aadbb;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.logo {
  float: left;
  height: 35px;
  margin-top: 10px;
  margin-right: 20px;
}

.jumbotron {
  background: url("../assets/images/background.jpg") 50% 50%;
  color: #fff;
  text-shadow: 2px 2px 10px #000;
  margin: 30px 0 70px;
}

.well {
  min-height: 230px;
}

.jumbotron h1 {
  margin: 100px 0;
}

.jumbotron button {
  width: 170px;
  text-align: center;
}

.btn-bottom {
  margin: 10px;
}

.photo {
  border: 1px solid #ddd;
  border-radius: 60px;
  height: 120px;
  width: 120px;
}

.filter {
  margin: 20px 0;
}

.required, .error {
  color: red;
}

.form-control.ng-dirty.ng-invalid {
  border-color: rgba(255, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
}

#top {
  position: fixed; width: 100%; z-index: 1000
}

.content {
  padding-top: 72px;
}

.reg-container {
  padding-top: 100px;
}

.reg-container .page-header {
  margin-top: 0;
}

.view-animate.ng-enter,
.view-animate.ng-leave,
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear .5s;
  -webkit-transition: all linear .5s;
}

.view-animate.ng-enter,
.view-animate.ng-leave.ng-leave-active,
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter{
  opacity: 0;
}

.view-animate.ng-enter.ng-enter-active,
.view-animate.ng-leave,
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
